  :root {
  --dark-brown: #2A1F1A;
  --soft-brown: #8B6F5E;
  --golden-beige: #cbad8d;
  --light-brown: #D1C7BD;
  --sand: #EBE3DB;
  --off-white: #F1EDE6;

  --text-primary: #1A1A1A;
  --text-secondary: #2D2D2D;
  --text-muted: #4A4A4A;
  --text-light: #666666;

 
  --gradient-3: linear-gradient(45deg, var(--soft-brown), var(--sand));
  --gradient-4: linear-gradient(to bottom right, var(--light-brown), var(--off-white));
  --gradient-5: radial-gradient(circle at center, var(--golden-beige), var(--soft-brown));
  --gradient-7: linear-gradient(to right, var(--off-white), var(--golden-beige), var(--soft-brown));
  --gradient-8: linear-gradient(160deg, var(--light-brown), var(--golden-beige), var(--dark-brown));
  --gradient-9: radial-gradient(circle at top right, var(--soft-brown), var(--light-brown), var(--off-white));

  --sidebar-width: 280px;
  --sidebar-collapsed-width: 60px;

  --space-xs: 8px;   /* 8px */
    --space-sm: 16px;  /* 16px */
    --space-md: 24px;  /* 24px */
    --space-lg: 32px;
}  